.fontheader{
  font-family: 'Gloria Hallelujah', cursive;
}
.fontheadertext{
  font-family: 'Edu VIC WA NT Beginner', cursive;
}
.fonter {
font-family: 'Montserrat Alternates', sans-serif;
font-size:44px;
  color: #FFF
}
.fonter2 {
font-family: 'Montserrat Alternates', sans-serif;
font-size:24px;
  color: #FFF
}
.fonter3 {
font-family: 'Montserrat Alternates', sans-serif;
font-size:18px;
  color: #FFF
}
.fonter4 {
font-family: 'Montserrat Alternates', sans-serif;
font-size:15px;
  color: #FFF
}

.text {
font-family: 'Montserrat Alternates', sans-serif;
font-size:18px;
color: #FFF;
line-height: 24px;
}
.text2 {
font-family: 'Montserrat Alternates', sans-serif;
font-size:18px;
color: #000;
line-height: 24px;
}
.rounded1 {
  border-radius: 25px;
  background: #E13E71;
  padding: 20px;
  width: 100%;
  height: 420px;
  color:#fff
}
.rounded2 {
  border-radius: 25px;
  background: #FFCC66;
  padding: 20px;
  width: 100%;
  height: 420px;
  color:#fff

}
.rounded3 {
  border-radius: 25px;
  background: #296756;
  padding: 20px;
  width: 100%;
  height: 420px;
  color:#fff

}
.rounded4 {
  border-radius: 25px;
  background: #5437A7;
  padding: 20px;
  width: 100%;
  height: 420px;
  color:#fff

}
.rounded5 {
  border-radius: 25px;
  background: #8FDFE1;
  padding: 20px;
  width: 100%;
  height: 420px;
  color:#fff

}
.rounded6 {
  border-radius: 25px;
  background: #E7DFC3;
  padding: 20px;
  width: 100%;
  height: 420px;
  color:#fff

}
