<div class="share-modal modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body p-4 text-center">
            <h4 class="mb-4" id="reportModalLabel">Why are you reporting?</h4>
            <form action="#">
              <textarea class="form-control mb-3" id="reportText" name="reportMessage" placeholder="Write your complaint..."></textarea>
              <div class="d-flex align-items-center justify-content-between">
                <button class="btn btn-danger btn-sm rounded-pill" type="button" data-bs-dismiss="modal" aria-label="Close"><i class="me-1 bi bi-x-lg"></i>Close</button>
                <button class="btn btn-primary btn-sm rounded-pill" type="submit">Report</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="share-modal modal fade" id="copylinkModal" tabindex="-1" aria-labelledby="copylinkLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body p-4 text-center">
            <h4 class="mb-4" id="copylinkLabel">Copy author link</h4>
            <p class="user-select-all mb-0 border border-2 p-3 rounded">https://themeforest.net/item/affan-pwa-mobile-html-template/29715548</p>
            <button class="btn btn-danger btn-sm rounded-pill mt-4" type="button" data-bs-dismiss="modal" aria-label="Close"><i class="me-1 bi bi-x-lg"></i>Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="share-modal modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body p-4 text-center">
            <h4 class="mb-4" id="shareModalLabel">Share this author</h4>
            <div class="d-flex align-items-center justify-content-center"><a class="mx-2" href="#"><img src="assets/img/core-img/icons8-facebook.svg" alt=""></a><a class="mx-2" href="#"><img src="assets/img/core-img/icons8-twitter.svg" alt=""></a><a class="mx-2" href="#"><img src="assets/img/core-img/icons8-instagram.svg" alt=""></a><a class="mx-2" href="#"><img src="assets/img/core-img/icons8-slack.svg" alt=""></a><a class="mx-2" href="#"><img src="assets/img/core-img/icons8-player.svg" alt=""></a></div>
            <button class="btn btn-danger btn-sm rounded-pill mt-4" type="button" data-bs-dismiss="modal" aria-label="Close"><i class="me-1 bi bi-x-lg"></i>Close</button>
          </div>
        </div>
      </div>
    </div>
<div class="author-top-content bg-img bg-overlay" style="background-image: url('assets/img/bg-img/44.jpeg')">
      <div class="container">
        <div class="card border-0 bg-transparent">
          <div class="card-body p-4 p-sm-5">
            <div class="row g-4 g-lg-5 align-items-center">
              <div class="col-7 col-sm-4 col-lg-3">
                <div class="author-thumbnail"><img class="rounded" src="assets/img/bg-img/u1.jpeg" alt=""><i class="bi bi-patch-check-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Verified" aria-label="Verified"></i></div>
              </div>
              <div class="col-12 col-sm-8 col-lg-9">
                <div class="author-data">
                  <h3 class="mb-2 author-name text-white">Designing World<a class="btn btn-warning btn-sm rounded-pill align-top ms-2 px-3 py-1" href="#">Follow</a></h3>
                  <div class="btn btn-minimal d-inline-block mb-3 text-white hover-warning">@designing_world</div>
                  <p class="w-75 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum quaerat quis similique natus rem.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Author Dropdown -->
          <div class="dropdown author-dd">
            <button class="dropdown-toggle" id="dd9887" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
            <!-- Dropdown Menu -->
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dd9887" style="">
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#shareModal"><i class="me-1 bi bi-share"></i>Edit Profile</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#shareModal"><i class="me-1 bi bi-share"></i>Share</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#copylinkModal"><i class="me-1 bi bi-box-arrow-up-right"></i>Copy Link</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#reportModal"><i class="me-1 bi bi-flag"></i>Report</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="author-content-wrap mt-70">
          <div class="container">
            <div class="row g-4 justify-content-center">
                      <div class="col-12 col-lg-12 col-xl-12 col-xxl-12">
                        <ul class="nav nav-tabs border-0 mb-3" role="tablist">
                          <li class="nav-item"><a class="position-relative nav-link mb-0 rounded-pill border-0 me-1 active" id="tab--1" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Wallet</a></li>
                          <li class="nav-item"><a class="nav-link mb-0 rounded-pill border-0 me-1" id="tab--2" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">NFTs Minted</a></li>
                          <li class="nav-item"><a class="nav-link mb-0 rounded-pill border-0 me-1" id="tab--2" data-bs-toggle="tab" href="#tab3" role="tab" aria-controls="tab2" aria-selected="false">NFT Tells</a></li>
                          <li class="nav-item"><a class="nav-link mb-0 rounded-pill border-0 me-1" id="tab--2" data-bs-toggle="tab" href="#tab4" role="tab" aria-controls="tab2" aria-selected="false">ENS Tells</a></li>
                          <li class="nav-item"><a class="nav-link mb-0 rounded-pill border-0 me-1" id="tab--2" data-bs-toggle="tab" href="#tab5" role="tab" aria-controls="tab2" aria-selected="false">Collections</a></li>
                          <li class="nav-item"><a class="nav-link mb-0 rounded-pill border-0 me-1" id="tab--2" data-bs-toggle="tab" href="#tab6" role="tab" aria-controls="tab2" aria-selected="false">Family/Tribe</a></li>


                        </ul>
                        <div class="tab-content">
                          <!-- Tab Pane-->
                          <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                            <div class="card">
                              <div class="card-body p-4 p-sm-5">
                                <form action="#">
                                  <div class="row g-4">
                                    <div class="col-12">
                                      <input class="form-control bg-gray border-0" type="text" name="fullName" placeholder="Full Name">
                                    </div>
                                    <div class="col-12">
                                      <input class="form-control bg-gray border-0" type="email" name="email" placeholder="Email Address">
                                    </div>
                                    <div class="col-12">
                                      <input class="form-control bg-gray border-0" type="text" name="username" placeholder="Username">
                                    </div>
                                    <div class="col-12">
                                      <input class="form-control bg-gray border-0" type="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="col-12">
                                      <select class="filter-select2 w-100 bg-gray" style="display: none;">
                                        <option selected="" value="1">Timezone</option>
                                        <option value="2">UTC +0</option>
                                        <option value="3">UTC +1</option>
                                        <option value="4">UTC +2</option>
                                        <option value="5">UTC +3</option>
                                        <option value="6">UTC +4</option>
                                        <option value="7">UTC +5</option>
                                        <option value="8">UTC +6</option>
                                        <option value="9">UTC +7</option>
                                        <option value="10">UTC +8</option>
                                        <option value="11">UTC +9</option>
                                        <option value="12">UTC +10</option>
                                      </select><div class="nice-select filter-select2 w-100 bg-gray  " tabindex="0">
              <span class="current">Timezone</span>
              <div class="nice-select-dropdown">
              <div class="nice-select-search-box">
            <input type="text" class="nice-select-search" placeholder="Search...">
            </div>
              <ul class="list"><li data-value="1" class="option selected null">Timezone</li><li data-value="2" class="option null">UTC +0</li><li data-value="3" class="option null">UTC +1</li><li data-value="4" class="option null">UTC +2</li><li data-value="5" class="option null">UTC +3</li><li data-value="6" class="option null">UTC +4</li><li data-value="7" class="option null">UTC +5</li><li data-value="8" class="option null">UTC +6</li><li data-value="9" class="option null">UTC +7</li><li data-value="10" class="option null">UTC +8</li><li data-value="11" class="option null">UTC +9</li><li data-value="12" class="option null">UTC +10</li></ul>
              </div></div>

                                    </div>
                                    <div class="col-12">
                                      <select class="filter-select w-100 bg-gray" style="display: none;">
                                        <option selected="" value="1">Week starts on</option>
                                        <option value="2">Saturday</option>
                                        <option value="3">Sunday</option>
                                        <option value="4">Monday</option>
                                      </select><div class="nice-select filter-select w-100 bg-gray  " tabindex="0">
              <span class="current">Week starts on</span>
              <div class="nice-select-dropdown">

              <ul class="list"><li data-value="1" class="option selected null">Week starts on</li><li data-value="2" class="option null">Saturday</li><li data-value="3" class="option null">Sunday</li><li data-value="4" class="option null">Monday</li></ul>
              </div></div>

                                    </div>
                                    <div class="col-12">
                                      <button class="btn btn-primary w-100 rounded-pill" type="submit"><i class="bi bi-sd-card-fill me-1"></i>Save changes</button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                          <!-- Tab Pane-->
                          <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab--2">
                            <div class="card">
                              <div class="card-body p-4 p-sm-5">
                                <form action="#">
                                  <div class="row g-4">
                                    <div class="col-12 col-md-4">
                                      <div class="form-check">
                                        <input class="form-check-input" id="liveBids" type="checkbox" value="" checked="">
                                        <label class="form-check-label" for="liveBids">Live Bids</label>
                                      </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                      <div class="form-check">
                                        <input class="form-check-input" id="onSale" type="checkbox" value="">
                                        <label class="form-check-label" for="onSale">On Sale</label>
                                      </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                      <div class="form-check">
                                        <input class="form-check-input" id="comingSoon" type="checkbox" value="">
                                        <label class="form-check-label" for="comingSoon">Coming Soon</label>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <div class="form-check form-switch mb-3">
                                        <input class="form-check-input" id="switch1" type="checkbox" role="switch">
                                        <label class="form-check-label" for="switch1">Enable Notifications</label>
                                      </div>
                                      <div class="form-check form-switch mb-3">
                                        <input class="form-check-input" id="switch2" type="checkbox" role="switch" checked="">
                                        <label class="form-check-label" for="switch2">Enable Chats Sounds</label>
                                      </div>
                                      <div class="form-check form-switch">
                                        <input class="form-check-input" id="switch3" type="checkbox" role="switch">
                                        <label class="form-check-label" for="switch3">Enable Lazyload</label>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <textarea class="form-control" name="message" cols="10" rows="5" placeholder="Short Description"></textarea>
                                    </div>
                                    <div class="col-12">
                                      <button class="btn btn-primary w-100 rounded-pill" type="submit"><i class="bi bi-sd-card-fill me-1"></i>Save changes</button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
          </div>
    </div>
    <div class="divider"></div>
