<!-- Preloader-->

<!-- Header Area-->
<header class="header-area" style="background-color:#030205;">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <!-- Navbar Brand -->
      <a class="navbar-brand textLogo" href="javascript: void(0)" style="color:#FFB528">
        TellAFiend
    </a>
      <!-- Navbar Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#funtoNav" aria-controls="funtoNav" aria-expanded="false" aria-label="Toggle navigation"><i class="bi bi-grid"></i></button>
      <!-- Navbar -->
      <div class="collapse navbar-collapse" id="funtoNav">
        <ul class="navbar-nav navbar-nav-scroll my-2 my-lg-0">
          <li><a href="javascript: void(0)">Home</a>
          </li>
          <li><a href="javascript: void(0)" routerLink="/swap">Swap</a></li>
          <li><a href="javascript: void(0)">Tribes</a></li>
        </ul>
        <!-- Header Meta -->
        <div class="header-meta d-flex align-items-center ms-lg-auto">
          <!-- Search Form -->
          <div class="search-form position-relative d-flex align-items-center">
            <input class="form-control" type="text" placeholder="Search">
            <button class="position-absolute" type="submit"><i class="bi bi-search"></i></button>
          </div>
          <!-- User Dropdown -->
          <div class="user-dropdown dropdown mx-3">
            <button class="btn dropdown-toggle user-btn" id="dropdownMenuButton1" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></button>
            <ul class="dropdown-menu mt-3" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="javascript: void(0)"><i class="me-2 bi bi-speedometer2"></i>Dashboard</a></li>
              <li><a class="dropdown-item" href="javascript: void(0)"><i class="me-2 bi bi-collection"></i>Collections</a></li>
              <li><a class="dropdown-item" href="javascript: void(0)"><i class="me-2 bi bi-bell"></i>Notifications</a></li>
              <li><a class="dropdown-item" href="javascript: void(0)"><i class="me-2 bi bi-gear"></i>Settings</a></li>
            </ul>
          </div>
          <!-- Create New Button --><a class="btn btn-warning btn-sm rounded-pill" href="javascript: void(0)" routerLink="/mint">New Mint</a>
        </div>
      </div>
    </div>
  </nav>
</header>

      <router-outlet></router-outlet>

      <!-- Footer -->
      <footer class="footer-area pb-120 pt-120" style="background-image: url('assets/img/bg-img/1.jpeg')">
        <img class="footer-bg-shape" src="assets/img/core-img/shape1.png" alt="" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
        <div class="container">
          <div class="row">
            <!-- Footer Widget -->
            <div class="col-12 col-lg-5">
              <div class="footer-widget-area mb-70 pe-lg-4 pe-xl-5 me-lg-4 me-xl-5 border-end">
                <a class="d-block mb-4 textLogo" href="#" style="color:#FFB528">
                  TellAFiend.eth
              </a>
                <p>incentivized Auctions For NFT's and ENS Domains.<br> ETH value backed NFT's give people a reason to run tell their friends. </p>
                <!-- Social Icon -->
                <h5 class="mt-4 mb-3">Join the community</h5>
                <div class="footer-social-icon d-flex align-items-center flex-wrap"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facbook"><img src="assets/img/core-img/icons8-facebook.svg" alt=""></a><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><img src="assets/img/core-img/icons8-twitter.svg" alt=""></a><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><img src="assets/img/core-img/icons8-instagram.svg" alt=""></a><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Slack"><img src="assets/img/core-img/icons8-slack.svg" alt=""></a><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Youtube"><img src="assets/img/core-img/icons8-player.svg" alt=""></a></div>
                <!-- Newsletter Form -->
                <div class="newsletter-form mt-5 me-5">
                  <form class="d-flex align-items-stretch" action="#">
                    <input class="form-control" type="email" placeholder="Enter email">
                    <button class="btn btn-warning px-3" type="submit">Subscribe</button>
                  </form>
                </div>
              </div>
            </div>
            <!-- Footer Widget -->
            <div class="col-12 col-lg-7">
              <div class="row g-4">
                <div class="col-6 col-sm-4">
                  <div class="footer-widget-area mb-70">
                    <h5 class="mb-4">NFTs</h5>
                    <ul class="list-unstyled mb-0">
                      <li><a href="javascript: void(0)">Active Tells</a></li>
                      <li><a href="javascript: void(0)">Create Tell</a></li>
                      <li><a href="javascript: void(0)">My Bids</a></li>
                      <li><a href="javascript: void(0)">Top Seller</a></li>
                      <li><a href="javascript: void(0)">Top Buyer</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-6 col-sm-4">
                  <div class="footer-widget-area mb-70">
                    <h5 class="mb-4">ENS</h5>
                    <ul class="list-unstyled mb-0">
                      <li><a href="javascript: void(0)">Active Tells</a></li>
                      <li><a href="javascript: void(0)">Create Tell</a></li>
                      <li><a href="javascript: void(0)">My Bids</a></li>
                      <li><a href="javascript: void(0)">Top Seller</a></li>
                      <li><a href="javascript: void(0)">Top Buyer</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-6 col-sm-4">
                  <div class="footer-widget-area mb-70">
                    <h5 class="mb-4">Company</h5>
                    <ul class="list-unstyled mb-0">
                      <li><a href="javascript: void(0)">Contracts</a></li>
                      <li><a href="javascript: void(0)">About us</a></li>
                      <li><a href="javascript: void(0)">Team</a></li>
                      <li><a href="javascript: void(0)">Agreement</a></li>
                      <li><a href="javascript: void(0)">Privacy</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="copywrite-wrapper d-lg-flex align-items-lg-center justify-content-lg-between">
            <!-- Copywrite Text -->
            <div class="copywrite-text text-center text-lg-start mb-3 mb-lg-0">
              <p class="mb-0">2022 &copy; All rights reserved by FuTuRo LLC</p>
            </div>
            <!-- Footer Nav -->
            <div class="footer-nav">
              <ul class="mb-0 d-flex flex-wrap justify-content-center list-unstyled">
                <li><a href="javascript: void(0)">Privacy Policy</a></li>
                <li><a href="javascript: void(0)">Terms &amp; Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
