<div class="share-modal modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4 text-center">
        <h4 class="mb-4" id="reportModalLabel">{{_messagetype}}</h4>
          <div class="card">
            <div class="card-body">
              <h4 class="text-center" style="font-size:18px">{{_message}}</h4>
            </div>
          </div>
          <div class="col-12 text-center">
            <button class="btn btn-danger btn-sm rounded-pill mt-4" #messageclose type="button" data-bs-dismiss="modal" aria-label="Close"><i class="me-1 bi bi-x-lg"></i>Close</button>
            <button class="btn btn-danger btn-sm rounded-pill mt-4" #message type="button" data-bs-toggle="modal" data-bs-target="#messageModal" style="display:none"><i class="me-1 bi bi-x-lg"></i></button>
          </div>

      </div>
    </div>
  </div>
</div>

<div class="share-modal modal fade" id="tellModal" tabindex="-1" aria-labelledby="tellModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4 text-center">
        <h4 class="mb-4" id="reportModalLabel">Launch Tell (Auction)</h4>
          <div class="card">
            <div class="card-body">
              <form [formGroup]="_launchTell">
                <div class="row g-4">
                  <div class="col-12">
                    <input class="form-control bg-gray border-0" type="number" name="prints" placeholder="how many?" formControlName="prints">
                  </div>
                  <div class="col-12">
                    <input class="form-control bg-gray border-0" type="number" name="reserveprice" placeholder="reservice price" formControlName="reserveprice">
                  </div>
                  <div class="col-12">
                    <input class="form-control bg-gray border-0" type="number" name="buyprice" placeholder="buy now price" formControlName="buyprice">
                  </div>

                </div>
              </form>
            </div>
          </div>
          <div class="col-12 text-center">
            <button class="btn btn-danger btn-sm rounded-pill mt-4" #messageclose type="button" data-bs-dismiss="modal" aria-label="Close"><i class="me-1 bi bi-x-lg"></i>Close</button>
            <button class="btn btn-danger btn-sm rounded-pill mt-4" #message type="button" data-bs-toggle="modal" data-bs-target="#messageModal" style="display:none"><i class="me-1 bi bi-x-lg"></i></button>
          </div>

      </div>
    </div>
  </div>
</div>

<div class="share-modal modal fade" id="approveModal" tabindex="-1" aria-labelledby="approveModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4 text-center">
        <h4 class="mb-4" id="reportModalLabel">{{_messagetype}}</h4>
          <div class="card">
            <div class="card-body">
              <h4 class="text-center" style="font-size:18px">{{_message}}</h4>
            </div>
          </div>
          <div class="col-12 text-center">
            <button class="btn btn-danger btn-sm rounded-pill mt-4" #messageclose type="button" data-bs-dismiss="modal" aria-label="Close"><i class="me-1 bi bi-x-lg"></i>Close</button>
            <button class="btn btn-danger btn-sm rounded-pill mt-4" #message type="button" data-bs-toggle="modal" data-bs-target="#messageModal" style="display:none"><i class="me-1 bi bi-x-lg"></i></button>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="share-modal modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body p-4 text-center">
            <h4 class="mb-4" id="reportModalLabel">Edit Profile</h4>
            <form [formGroup]="_editProfile">
              <div class="row g-4">
                <div class="col-12">
                  <input class="form-control bg-gray border-0" type="text" name="avatarcontract" placeholder="avatar nft contract" formControlName="avatarcontract">
                </div>

                <div class="col-12">
                  <input class="form-control bg-gray border-0" type="number" name="avatar" placeholder="avatar id" formControlName="avatarid">
                </div>
                <div class="col-12">
                  <input class="form-control bg-gray border-0" type="text" name="email" placeholder="Email" formControlName="email">
                </div>
                <div clas="col-12">
                  <textarea class="form-control  bg-gray mb-3"  name="story" placeholder="your story..." formControlName="story"></textarea>

                </div>
                <div class="col-12 text-center">
                  <button class="btn btn-primary btn-sm rounded-pill" (click)="editprofile()">Update</button>
                </div>
                <div class="col-12 text-center" *ngIf="_message">
                  <p class="text-center">{{_message}}</p>
                </div>

              </div>


            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="share-modal modal fade" id="copylinkModal" tabindex="-1" aria-labelledby="copylinkLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body p-4 text-center">
            <h4 class="mb-4" id="copylinkLabel">Copy author link</h4>
            <p class="user-select-all mb-0 border border-2 p-3 rounded">https://themeforest.net/item/affan-pwa-mobile-html-template/29715548</p>
            <button class="btn btn-danger btn-sm rounded-pill mt-4" type="button" data-bs-dismiss="modal" aria-label="Close"><i class="me-1 bi bi-x-lg"></i>Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="share-modal modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body p-4 text-center">
            <h4 class="mb-4" id="shareModalLabel">Share this author</h4>
            <div class="d-flex align-items-center justify-content-center"><a class="mx-2" href="javascript: void(0)"><img src="assets/img/core-img/icons8-facebook.svg" alt=""></a><a class="mx-2" href="javascript: void(0)"><img src="assets/img/core-img/icons8-twitter.svg" alt=""></a><a class="mx-2" href="javascript: void(0)"><img src="assets/img/core-img/icons8-instagram.svg" alt=""></a><a class="mx-2" href="javascript: void(0)"><img src="assets/img/core-img/icons8-slack.svg" alt=""></a><a class="mx-2" href="javascript: void(0)"><img src="assets/img/core-img/icons8-player.svg" alt=""></a></div>
            <button class="btn btn-danger btn-sm rounded-pill mt-4" type="button" data-bs-dismiss="modal" aria-label="Close"><i class="me-1 bi bi-x-lg"></i>Close</button>
          </div>
        </div>
      </div>
    </div>
<div class="author-top-content bg-img bg-overlay" style="background-image: url('assets/img/bg-img/44.jpeg')">
      <div class="container">
        <div class="card border-0 bg-transparent">
          <div class="card-body p-4 p-sm-5">
            <div class="row g-4 g-lg-5 align-items-center">
              <div class="col-7 col-sm-4 col-lg-3">
                <div class="author-thumbnail"><img class="rounded" src="assets/img/bg-img/u1.jpeg" alt=""><i class="bi bi-patch-check-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Verified" aria-label="Verified"></i></div>
              </div>
              <div class="col-12 col-sm-8 col-lg-9">
                <div class="author-data">
                  <h3 class="mb-2 author-name text-white">{{_profile.name || 'incognito'}}
                    <a class="btn btn-warning btn-sm rounded-pill align-top ms-2 px-3 py-1" data-bs-toggle="modal" data-bs-target="#profileModal" *ngIf="!_profile.story"><i class="me-1 bi bi-pen"></i> Create</a>
                    <a class="btn btn-warning btn-sm rounded-pill align-top ms-2 px-3 py-1" data-bs-toggle="modal" data-bs-target="#profileModal" *ngIf="_profile.story"><i class="me-1 bi bi-pen"></i> Edit</a>
                  </h3>
                  <div class="btn btn-minimal d-inline-block mb-3 text-white hover-warning">{{_user.slice(0,7) || '0x...'}}...</div>
                  <p class="w-75 mb-0">{{_profile.story || 'no story yet'}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Author Dropdown -->
          <div class="dropdown author-dd">
            <button class="dropdown-toggle" id="dd9887" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
            <!-- Dropdown Menu -->
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dd9887" style="">
              <li><a class="dropdown-item" href="javascript: void(0)" data-bs-toggle="modal" data-bs-target="#shareModal"><i class="me-1 bi bi-share"></i>Share</a></li>
              <li><a class="dropdown-item" href="javascript: void(0)" data-bs-toggle="modal" data-bs-target="#copylinkModal"><i class="me-1 bi bi-box-arrow-up-right"></i>Copy Link</a></li>
              <li><a class="dropdown-item" href="javascript: void(0)" data-bs-toggle="modal" data-bs-target="#reportModal"><i class="me-1 bi bi-flag"></i>Report</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="author-content-wrap mt-70">
          <div class="container">
            <div class="row g-4 justify-content-center">
                      <div class="col-12 col-lg-12 col-xl-12 col-xxl-12">
                        <ul class="nav nav-tabs border-0 mb-3" role="tablist">
                          <li class="nav-item"><a class="position-relative nav-link mb-0 rounded-pill border-0 me-1 active" id="tab--1" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Wallet</a></li>
                          <li class="nav-item"><a class="nav-link mb-0 rounded-pill border-0 me-1" id="tab--2" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">NFT Owned</a></li>
                          <li class="nav-item"><a class="nav-link mb-0 rounded-pill border-0 me-1" id="tab--3" data-bs-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">NFT Tells</a></li>
                          <li class="nav-item"><a class="nav-link mb-0 rounded-pill border-0 me-1" id="tab--4" data-bs-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false">ENS Tells</a></li>
                          <li class="nav-item"><a class="nav-link mb-0 rounded-pill border-0 me-1" id="tab--5" data-bs-toggle="tab" href="#tab5" role="tab" aria-controls="tab5" aria-selected="false">Collections</a></li>
                          <li class="nav-item"><a class="nav-link mb-0 rounded-pill border-0 me-1" id="tab--6" data-bs-toggle="tab" href="#tab6" role="tab" aria-controls="tab6" aria-selected="false">Family/Tribe</a></li>


                        </ul>
                        <div class="tab-content">
                          <!-- Tab Pane-->
                          <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                                <div class="row g-4">
                                  <div class="col-12">
                                    <div class="card dashboard-hero-card p-2 border-0 bg-img shadow-sm" style="background-image: url('assets/img/bg-img/44.jpeg')">
                                      <div class="card-body p-4">
                                        <h3 class="mb-3 text-white text-center">Your FERRO (iron) Wallet</h3>
                                        <p class="mb-4 text-white text-center">A secure smart contract wallet for storing your digital assets</p>
                                        <!-- <p class="mb-4 text-white text-center" *ngIf="_wallets && _wallets.length>0"><b>{{_wallets[0]}}</b></p> -->
                                        <div class="button-groups text-center"><a class="btn btn-sm btn-warning rounded-pill me-3" href="javascript: void(0)">Learn More</a><a class="btn btn-sm btn-dark rounded-pill" href="javascript: void(0)">Lock Wallet</a></div>
                                      </div>
                                    </div>
                                  </div>

                                </div><!-- Welcomd -->
                                <div class="row g-4 mt-2">
                                  <div class="col-12 col-sm-6">
                                    <div class="card border-0 shadow-sm">
                                      <div class="card-body p-4">
                                        <div class="d-flex align-items-center justify-content-between">
                                          <div>
                                            <h5 class="mb-2">FERRO</h5><span>Priced To ETH</span>
                                          </div>
                                          <div class="ms-auto" id="chart-1" style="min-height: 42px;">
                                            1.0001
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-12 col-sm-6">
                                    <div class="card border-0 shadow-sm">
                                      <div class="card-body p-4">
                                        <div class="d-flex align-items-center justify-content-between">
                                          <div>
                                            <h5 class="mb-2">Value</h5><span>1 FERRO = 0.003 ETH</span>
                                          </div>
                                          <div class="ms-auto" id="chart-2" style="min-height: 42px;">
                                            $3,000
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="row g-4 mt-2">
                                  <div class="col-12 col-sm-6">
                                    <div class="card border-0 shadow-sm">
                                      <div class="card-body p-4">
                                        <div class="d-flex align-items-center justify-content-between">
                                          <div>
                                            <h5 class="mb-2">WURA</h5><span>Priced To FERRO</span>
                                          </div>
                                          <div class="ms-auto" id="chart-1" style="min-height: 42px;">
                                            1.0001
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-12 col-sm-6">
                                    <div class="card border-0 shadow-sm">
                                      <div class="card-body p-4">
                                        <div class="d-flex align-items-center justify-content-between">
                                          <div>
                                            <h5 class="mb-2">Value</h5><span>1 WURA = 0.003 FERRO</span>
                                          </div>
                                          <div class="ms-auto" id="chart-2" style="min-height: 42px;">
                                            $3,000
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                          </div>

                          <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab--2">
                            <div class="col-12 col-md-12 col-lg-12 col-xxl-12">
                              <div class="row g-4 justify-content-center">
                                <div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xxl-4" *ngFor="let data of _usernfts">
                                  <!-- Featured Card -->
                                  <div class="nft-card card shadow-sm">
                                    <div class="card-body">
                                      <div class="img-wrap"><img src="{{data.ipfs.image}}" alt="">
                                        <!-- Badge -->
                                        <div class="badge bg-primary position-absolute"><img src="assets/img/core-img/fire.png" alt="">Featured</div>
                                        <!-- Dropdown -->
                                        <div class="dropdown">
                                          <button class="btn dropdown-toggle rounded-pill shadow-sm" id="dd95687" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
                                          <!-- Dropdown Menu -->
                                          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dd95687">
                                            <li><a class="dropdown-item" href="javascript: void(0)"><i class="me-1 bi bi-share"></i>Share</a></li>
                                            <li><a class="dropdown-item" href="javascript: void(0)"><i class="me-1 bi bi-flag"></i>Report</a></li>
                                            <li><a class="dropdown-item" href="javascript: void(0)"><i class="me-1 bi bi-bookmark"></i>Bookmark</a></li>
                                          </ul>
                                        </div>
                                      </div>
                                      <!-- Others Info -->
                                      <div class="row gx-2 align-items-center mt-3">
                                        <div class="col-8"><span class="d-block fz-12"><i class="bi bi-arrow-up"></i>Royalty {{data.ipfs.royalty}}%</span></div>
                                        <div class="col-4 text-end">
                                          <button class="wishlist-btn" type="button"><i class="bi"></i></button>
                                        </div>
                                      </div>
                                      <!-- Meta Info -->
                                      <div class="row gx-2 align-items-center mt-2">
                                        <div class="col-8">
                                          <div class="name-info d-flex align-items-center">
                                            <div class="author-img position-relative"><img class="shadow" src="assets/img/bg-img/u1.jpeg" alt=""><i class="bi bi-check position-absolute bg-success"></i></div>
                                            <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="javascript: void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Monkey Arts #114">{{data.ipfs.title}} #{{data.token_id}}</a><a class="author d-block fz-12 hover-primary text-truncate" href="javascript: void(0)">@{{data.ipfs.creator.slice(0,7)}}</a></div>
                                          </div>
                                        </div>
                                        <div class="col-4">
                                          <div class="price text-end"><span class="fz-12 d-block">Prints</span>
                                            <h6 class="mb-0">{{data.ipfs.prints}}</h6>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- Button -->
                                      <div class="row gx-2 align-items-center mt-3">
                                        <div class="col-6"><a class="btn btn-primary btn-sm rounded-pill" href="javascript: void(0)">Launch Tell</a></div>
                                        <div class="col-6 text-end"><a class="btn btn-minimal btn-sm hover-primary" href="javascript: void(0)"> <i class="bi bi-activity me-1"></i>Activity</a></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                            </div>
                          </div>

                          <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab--3">
                            tab 3
                          </div>

                          <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab--4">
                            tab 4
                          </div>

                          <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab--5">
                            tab 5
                          </div>

                          <div class="tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="tab--6">
                            tab 6
                          </div>

                        </div>
                      </div>
                    </div>
          </div>
    </div>
    <div class="divider"></div>
