<div class="breadcrumb-wrapper">
      <div class="container">
        <div class="breadcrumb-content">
          <h2 class="breadcrumb-title" data-aos-duration="750" data-aos-delay="600" *ngIf="_collectionid">New Mint <span *ngIf="_collectiontitle">to {{_collectiontitle}} <small>collection</small></span></h2>
          <h2 class="breadcrumb-title" data-aos-duration="750" data-aos-delay="600" *ngIf="!_collectionid && !_showcreatecollection">Choose Collection</h2>
          <h2 class="breadcrumb-title" data-aos-duration="750" data-aos-delay="600" *ngIf="!_collectionid && _showcreatecollection">Create Collection</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a href="javascript: void(0)" data-aos-duration="750" data-aos-delay="600" *ngIf="_collectionid && !_showcreatecollection" (click)="_showcreatecollection=false; _collectionid=null">Collections</a></li>
              <li class="breadcrumb-item active" aria-current="page" data-aos-duration="750" data-aos-delay="600" *ngIf="!_collectionid && !_showcreatecollection">New Mint</li>
              <li class="breadcrumb-item active" aria-current="page" data-aos-duration="750" data-aos-delay="600" *ngIf="!_collectionid && _showcreatecollection" (click)="_showcreatecollection = false">Back</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="_showcreatecollection">
        <div class="row g-4 justify-content-center">
          <div class="col-12 col-lg-12 col-xl-12 col-xxl-12">
            <ul class="nav nav-tabs border-0 mb-3" role="tablist">
              <li class="nav-item"><a class="position-relative nav-link mb-0 rounded-pill border-0 me-1 active" id="tab--1" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">General</a></li>
              <li class="nav-item"><a class="nav-link mb-0 rounded-pill border-0 me-1" id="tab--2" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Co-Minting</a></li>
            </ul>
            <div class="tab-content">
              <!-- Tab Pane-->
              <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                <div class="row">
                  <div class="col-12 col-sm-8 col-lg-8 create-new-form">
                    <div class="card">
                      <div class="card-body p-4 p-sm-5">
                        <form [formGroup]="_collection">
                          <div class="row g-4">
                            <div class="col-12">
                              <div class="form-group">
                                <label class="mb-4 fz-16" for="title">Collection Type </label><br>

                                <div class="form-check form-check-inline" *ngFor="let data of _collectionoptions">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" checked="0" [value]="data.id" (change)="onCheckboxChange($event,2)">
                                  <label class="form-check-label text-white">{{data.name}}</label>
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <input class="form-control bg-gray border-0" type="text" placeholder="Collection Name" formControlName="title">
                            </div>
                            <div class="col-12">
                              <textarea class="form-control  bg-gray border-0" cols="10" rows="5" placeholder="Short Description" formControlName="desc"></textarea>
                            </div>
                            <div class="col-6 form-group mb-4">
                              <input class="form-control bg-transparent btn btn-dark w-100 rounded-pill" id="formFileMultiple" type="file" multiple="" (change)="upload($event,2)">
                              <!-- <button class="btn btn-dark w-100 rounded-pill" (click)="upload($event, 2)"><i class="bi bi-sd-card-fill me-1"></i>Upload Image</button> -->
                            </div>

                            <div class="col-6">
                              <button class="btn btn-primary w-100 rounded-pill" (click)="createcollection()"><i class="bi bi-sd-card-fill me-1"></i>Create Collection</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-sm-8 col-lg-4">
                    <!-- Preview Card -->
                    <div class="nft-card card shadow-sm">
                      <div class="card-body">
                        <div class="img-wrap"><img src="{{_collectionimage || 'assets/img/bg-img/17.jpeg'}}" alt="">
                          <!-- Badge -->
                          <div class="badge bg-dark position-absolute"><img src="assets/img/core-img/fire.png" alt="">collection image</div>
                        </div>
                      </div>
                    </div>
                    <h5 class="mb-0 mt-3 text-center"><i class="bi bi-eye me-1"></i>Live Preview</h5>
                  </div>

                </div>
              </div>
              <!-- Tab Pane-->
              <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab--2">
                <div class="card">
                  <div class="card-body p-4 p-sm-5">
                    <h4 class="mb-3 text-center">co-minting</h4>
                    <div class="border-top mb-3"></div>
                    <ol>
                      <li class="d-block fz-16 mt-3 text-center">Co-minting allows other artists or anyone you approve to mint their art into your collection</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="seller-wrapper" *ngIf="!_collectionid && !_showcreatecollection">
      <div class="container">
        <div class="row g-4 justify-content-center" *ngIf="_collections && _collections.length>0">
          <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-4" *ngFor="let data of _collections">
            <div class="catagory-card card shadow-sm" (click)="setcollection(data[0],data[1])">
              <div class="card-body">
                <div class="row g-1">
                  <div class="col-12"><img class="rounded" src="{{data[3]}}" alt=""></div>
                </div>
                <div class="row mt-3">
                  <div class="col-8">
                    <h5 class="mb-0">{{data[1]}}</h5>
                  </div>
                  <div class="col-4 text-end"><a class="btn btn-minimal hover-primary" href="#">{{data[6].length}} <small> items</small></a></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
<div class="container mt-4" *ngIf="!_collectionid && !_showcreatecollection">
  <div class="cta-text bg-gradient p-4 p-sm-5 bg-primary aos-init aos-animate" data-aos="zoom-in" data-aos-duration="750" data-aos-delay="300">
    <div class="row align-items-center">
      <div class="col-12 col-md-8 col-lg-9">
        <h2 class="mb-3 mb-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-duration="750" data-aos-delay="600">Launch A Brand New Awesome Collection!</h2>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <div class="text-md-end"><a class="btn btn-warning rounded-pill aos-init aos-animate" href="javascript: void(0)" data-aos="zoom-in" data-aos-duration="750" data-aos-delay="900" (click)="_showcreatecollection = true">Get Started</a></div>
      </div>
    </div>
  </div>
</div>
    <div class="create-new-wrapper"  *ngIf="_collectionid">
      <div class="container">
        <div class="row g-5 justify-content-center">
          <div class="col-12 col-lg-8">
            <!-- Create New Form -->
            <div class="create-new-form border shadow-sm p-4 p-sm-5">
              <form [formGroup]="_mint">
                <div class="row align-items-center">
                  <div class="col-12">
                    <div class="form-group mb-4">
                      <label class="mb-2 fz-16" for="formFileMultiple">Upload Files</label>
                      <input class="form-control bg-transparent" id="formFileMultiple" type="file" multiple="" (change)="onCheckboxChange($event,1)">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group mb-4">
                      <div class="form-check form-check-inline" *ngFor="let data of _nftoptions">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" checked="0" [value]="data.id" (change)="onCheckboxChange($event,1)">
                        <label class="form-check-label">{{data.name}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group mb-4">
                      <label class="mb-2 fz-16" for="title">Title</label>
                      <input class="form-control" type="text" placeholder="Macaw Bird" formControlName="title">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group mb-4">
                      <label class="mb-2 fz-16" for="description">Description</label>
                      <input class="form-control" type="text" placeholder="Write short description" formControlName="desc">
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-group mb-4">
                      <label class="mb-2 fz-16" for="royality">Royality</label>
                      <input class="form-control" type="number" placeholder="5%" formControlName="royalty">
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group mb-4">
                      <label class="mb-2 fz-16" for="prints">No of prints</label>
                      <input class="form-control"  type="number" placeholder="1" formControlName="prints">
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group mb-4">
                      <label class="mb-2 fz-16" for="payto">Pay To Address</label>
                      <input class="form-control"  type="text" placeholder="0x..." formControlName="payaddress">
                    </div>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="form-check mb-4 mb-md-0">
                      <input class="form-check-input" type="checkbox" checked="" formControlName="terms" (change)="onTermsChange($event)">
                      <label class="form-check-label" for="terms" >I agree to all terms &amp; conditions.</label>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <button class="btn btn-primary rounded-pill w-100" (click)="createmint()">Create</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-12 col-sm-8 col-lg-4">
            <!-- Preview Card -->
            <div class="nft-card card shadow-sm">
              <div class="card-body">
                <div class="img-wrap"><img src="{{_nftimage || 'assets/img/bg-img/17.jpeg'}}" alt="">
                  <!-- Badge -->
                  <div class="badge bg-dark position-absolute"><img src="assets/img/core-img/fire.png" alt="">Hot bid</div>
                </div>
                <!-- Others Info -->
                <div class="row gx-2 align-items-center mt-3">
                  <div class="col-8"><span class="d-block fz-12"><i class="bi bi-arrow-up"></i>Hightest bid 0.324 ETH</span></div>
                  <div class="col-4 text-end">
                    <button class="wishlist-btn" type="button"><i class="bi"></i></button>
                  </div>
                </div>
                <!-- Meta Info -->
                <div class="row gx-2 align-items-center mt-2">
                  <div class="col-8">
                    <div class="name-info d-flex align-items-center">
                      <div class="author-img position-relative"><img class="shadow" src="assets/img/bg-img/u1.jpeg" alt=""><i class="bi bi-check position-absolute bg-success"></i></div>
                      <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="item-details.html" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Macaw Bird">Macaw Bird</a><a class="author d-block fz-12 hover-primary text-truncate" href="author.html">@creative_art</a></div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="price text-end"><span class="fz-12 d-block">Current Bid</span>
                      <h6 class="mb-0">0.324 ETH</h6>
                    </div>
                  </div>
                </div>
                <!-- Button -->
                <div class="row gx-2 align-items-center mt-3">
                  <div class="col-6"><a class="btn btn-primary btn-sm rounded-pill" href="#">Place bid</a></div>
                  <div class="col-6 text-end"><a class="btn btn-minimal btn-sm hover-primary" href="activity.html"> <i class="bi bi-activity me-1"></i>Activity</a></div>
                </div>
              </div>
            </div>
            <h5 class="mb-0 mt-3 text-center"><i class="bi bi-eye me-1"></i>Live Preview</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
